{% extends 'layouts/base.html' %}

{% comment %} para agregar el filtro 'render_field' {% endcomment %}
{% load widget_tweaks %}

{% comment %} cargar los datos estaticos {% endcomment %}
{% load static %}


{% block content %}

    <div class="d-flex m-4 justify-content-center row" >

        <div style="max-width: 800px">

            <div class="mt-4 mb-3 h4" >
                <label for="">
                    Formularios de {{ request.user }}
                </label>
            </div>


            <form method="post" class="d-flex flex-grow-2 gap-2">
                {% comment %} Formulario para crear un grupo nuevo {% endcomment %}
                {% csrf_token %}
                {% render_field creteGroupForm.name class="form-control flex-grow-1" placeholder="Nombre del grupo"%}

                <button class="btn btn-primary text-nowrap">Crear equipo</button>
                <a class="btn text-nowrap btn-outline-dark" href="{% url 'logout' %}">Cerrar sesión</a>
            </form>

            {% if creteGroupForm.errors %}
                <p class="text-danger"> {% render_field creteGroupForm.name.errors.as_text %} </p>
            {% endif %}

            <div class="m-4">
                <ul>
                {% for group in user_groups %}
                    <li>
                        <a href="{% url 'details' group.id %}"> {{ group.name }} </a>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div>
       
    </div>
   
{% endblock content %}
