

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="{% static 'scripts/vue/vue.js' %}"></script>
</head>
<body>

    {% block content %}
    
    {% if not belbin_form.exists %}
{% comment %} action="{% url 'form' integrante.group.admin integrante.group.name %}"  {% endcomment %}
    <form id="myForm" method="post">
        {% csrf_token %}

        <!-- Campos de perfiles de Belbin -->
        <label for="resource_investigator">Resource Investigator:</label>
        <input type="number" name="resource_investigator" value="0"><br>
      
        <label for="team_worker">Team Worker:</label>
        <input type="number" name="team_worker" value="0"><br>
      
        <label for="coordinator">Coordinator:</label>
        <input type="number" name="coordinator" value="0"><br>
      
        <label for="plant">Plant:</label>
        <input type="number" name="plant" value="0"><br>
      
        <label for="monitor_evaluator">Monitor Evaluator:</label>
        <input type="number" name="monitor_evaluator" value="0"><br>
      
        <label for="specialist">Specialist:</label>
        <input type="number" name="specialist" value="0"><br>
      
        <label for="shaper">Shaper:</label>
        <input type="number" name="shaper" value="0"><br>
      
        <label for="implementer">Implementer:</label>
        <input type="number" name="implementer" value="0"><br>
      
        <label for="completer_finisher">Completer Finisher:</label>
        <input type="number" name="completer_finisher" value="0"><br>
      
        <button type="submit">Enviar</button>
      </form>

      <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            event.preventDefault();
          
            var form = event.target;
            var formData = new FormData(form);
          
            // Obtén el valor del token CSRF del formulario
            var csrfToken = form.elements.csrfmiddlewaretoken.value;
          
            // Agrega el token CSRF a la cabecera de la solicitud
            var headers = {
              'X-CSRFToken': csrfToken
            };

          
            fetch(form.action, {
              method: 'POST',
              body: formData,
              headers: headers
            })
            .then(function(response) {
              // Maneja la respuesta del servidor
              if (response.ok) {
                console.log("Solicitud POST exitosa");
                location.reload()
              } else {
                console.error("Error en la solicitud POST");
              }
            })
            .catch(function(error) {
              console.error("Error en la solicitud POST:", error);
            });
          });
      </script>

    {% else %}
        Ya haz resuelto este formulario...
    {% endif %}

    {% endblock content %}

</body>
</html>