{% extends 'layouts/base.html' %}

{% comment %} para agregar el filtro 'render_field' {% endcomment %}
{% load widget_tweaks %}

{% comment %} cargar los datos estaticos {% endcomment %}
{% load static %}


{% block content %}
<div class="d-flex mb-3 justify-content-center">

  <div class="" style="max-width:60rem;">
    <div class="alert alert-primary my-5">

      <div>
        <label class="h5">
          Cuestionario de Autopercepción para miembros de equipos 
        </label>
  
        <p>
          Este cuestionario ha sido desarrollado a partir de un número
          de versiones anteriores que habían sido diseñadas para dar a
          los miembros de Henley como un medio sencillo de asesorar sus 
          mejores roles de equipo.
          <br>
          <br>    
          - Basado en el trabajo de Meredith Belbin
        </p>
      </div>

      <div class="mt-5">
        <label class="h5">
          Instrucciones
        </label>

        <ol class="list-group list-group-numbered">
          <li class="list-group-item">
            Para cada sección distribuir un total de 10 puntos
            entre las afirmaciones que mejor creas que describen
            tu comportamiento. 
          </li>
          <li class="list-group-item">
            En casos extremos podrían repartirse entre todas las
            afirmaciones o se le pueden otorgar 10 puntos a una 
            sola afirmación y por lo tanto 0 al resto.
          </li>
          <li class="list-group-item">
            Cada vez que anote el valor a una afirmación de cada
            sección, en la parte inferior se le indica los puntos
            que todavía puede utilizar en esa sección
          </li>
        </ol>

      </div>
    </div>

    <form id="Belbin" @submit="submitForm" class="mx-3">

      {% csrf_token %}
      
      <div class="mt-5" v-for="section in sections" :key="section.id">
        <label ref='[[section.title]]' class="h5">[[ section.title ]]</label>
        <p class="muted"> [[ section.points ]] puntos de [[ section.availablePoints ]] <p>

        <div v-for="question in section.questions" :key="question.id" class="mt-2 d-flex gap-2 border rounded">
          <label class="p-3 ">[[ question.label ]]</label>
          <input type="number" v-model.number="question.points" class="ms-auto text-center border-0">
        </div>
        
      </div>

      <div class="mt-2 d-flex gap-2 mt-5">
        <button class="btn btn-primary" type="submit">Enviar formulario</button>
      </div>
    </form>

    <script src="{% static 'scripts/form/form.js' %}"></script>

  </div>

 
</div>
{% endblock content %}


























{% comment %}
          Formulario de belbin, el fomato con '[[]]' es de vue, se 
          puede revisar el formato de abajo para mas informacion   
        {% endcomment %}

 {% comment %}
        Aqui esta la lógica del formulario 
      {% endcomment %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="{% static 'scripts/vue/vue.js' %}"></script>
</head>
<body>
    {% block content %}

    {% if not belbin_form.exists %}

      <form id="Belbin" @submit="submitForm">

        {% csrf_token %}
        
        <div v-for="section in sections" :key="section.id">
          <h3>[[ section.title ]]</h3>
          <p> [[ section.points ]] puntos de [[ section.availablePoints ]] <p>
          <div v-for="question in section.questions" :key="question.id">
            <label>[[ question.label ]]</label>
            <input type="number" v-model.number="question.points">
          </div>
        </div>

        <button type="submit">Enviar</button>
      </form>

     
      <script src="{% static 'scripts/form/form.js' %}"></script>

    {% else %}

      Ya haz resuelto este formulario...

    {% endif %}

    {% endblock content %}

</body>
</html> {% endcomment %}