{% extends 'layouts/base.html' %}

{% comment %} para agregar el filtro 'render_field' {% endcomment %}
{% load widget_tweaks %}

{% comment %} cargar los datos estaticos {% endcomment %}
{% load static %}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-xl">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            Bright TeamWork 
        </a>

        <a class="btn text-nowrap" href="{% url 'logout' %}">Cerrar sesión</a>
    </div>
</nav> 

<div class="d-flex mb-3 justify-content-center">

    <div class="col-md-6">

        <label class="mt-5 mb-4 h5">
            Informacion de {{ group.name }}
        </label>

        <div class="d-flex gap-2">
            <a class="btn btn-primary" href="{% url 'invitation' group.admin group.name %}">
                Generar invitación
            </a>

            <button type="button" class="btn btn-outline-secondary" disabled>Descargar .csv</button>

{% comment %}             
            <a class="btn btn-secondary" href="{% url 'form' user group.name %}">
                Resolver el formulario
            </a> {% endcomment %}

            <a class="btn btn-danger ms-auto" href="{% url 'delete' group.id %}">
                Eliminar grupo
            </a>
        </div>

        {% comment %} Tabla de integrantes {% endcomment %}
        <table class="table mt-5">
            <thead>
                <tr class="table-active">
                <th scope="col" class="w-50">Nombre</th>
                <th scope="col">Perfil</th>
                <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% comment %} Integrantes que todavia no hacen el formulario {% endcomment %}
                {% for Integrante in members %}

                <tr>
                    <td>
                        {{ Integrante.member }}
                    </td>
                    <td>
                        {{ Integrante.profiles|join:", " }}
                    </td>
                    <td>
                        <a href="{% url 'remove' Integrante.id %}" title="Expulsar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                              </svg>
                        </a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

</div>

{% endblock content %}