
{% block content %}
    <h1>Invitacion al grupo {{ group.name }} </h1>

    {{ group.admin }} te ha invitado al grupo {{ group.name }}. <br>
    puedes compartir esta URL para invitar a los miembros del equipo

    <h2>Acciones</h2>
    {% if request.user.is_authenticated %}

        {% if not integrante.exists %}

            <a href="{% url 'join' user group.name %}">
                Unirse
            </a>

        {% else %}
            
            Resolver el 
            <a href="{% url 'form' user group.name %}">
                formulario
            </a>

        {% endif %}

    {% else %}
        Debes <a href="{% url 'login' %}">iniciar sesion</a> o <a href="{% url 'register' %}">crear una cuenta</a>
    {% endif %}

{% endblock content %}