{% extends 'layouts/base.html' %}

{% comment %} para agregar el filtro 'render_field' {% endcomment %}
{% load widget_tweaks %}

{% comment %} cargar los datos estaticos {% endcomment %}
{% load static %}


{% block content %}

{% comment %} https://stackoverflow.com/a/71544378 {% endcomment %}
<div class="d-flex flex-column min-vh-100 min-vw-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center m-4" >

        <form method="post" class="row h-100 justify-content-center align-items-center" style="max-width: 500px">
            <div class="text-center mb-5 h4">
                Inicia sesión
            </div>

            {% csrf_token %}

            {% render_field form.username class="form-control mb-4" placeholder="Usuario"%}

            {% render_field form.password class="form-control mb-4" placeholder="Contraseña"%}

            {% if form.errors %}
                <div class="alert alert-danger mb-4" role="alert">
                    Usuario o contraseña invalidos
                </div>
            {% endif %}

            
            <button class="btn btn-primary w-100">Iniciar sesión</button>

            <div class="mt-4 text-center">
                ¿No eres miembro? <a href="{% url 'register' %}">Registrate</a>
            </div>
        </form>

    </div>
</div>

{% endblock content %}