{% extends 'layouts/base.html' %}

{% comment %} para agregar el filtro 'render_field' {% endcomment %}
{% load widget_tweaks %}

{% comment %} cargar los datos estaticos {% endcomment %}
{% load static %}


{% block content %}

<div class="d-flex flex-column min-vh-100 min-vw-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center m-4" >

    <form method="post" class="row h-100 justify-content-center align-items-center" style="max-width: 500px">
        <div class="text-center mb-5 h4">
            Registro
        </div>

        {% csrf_token %}

        {% comment %} https://stackoverflow.com/a/7425393 {% endcomment %}

        {% comment %} Nombre {% endcomment %}
        {% render_field form.username class="form-control mb-4" placeholder="Nombre"%}
        {% if form.username.errors %}
            <p class="text-danger"> {{form.username.errors.as_text}} </p>
        {% endif %}

        {% comment %} Email {% endcomment %}
        {% render_field form.email class="form-control mb-4" placeholder="Correo"%}
        {% if form.email.errors %}
            <p class="text-danger"> {{form.email.errors.as_text}} </p>
        {% endif %}

        {% comment %} Contraseñas {% endcomment %}
        {% render_field form.password1 class="form-control mb-4" placeholder="Contraseña"%}
        {% render_field form.password2 class="form-control mb-4" placeholder="Confirmar contraseña"%}
        {% if form.password2.errors%}
            <p class="text-danger">
                {% for error in form.password2.errors %}
                    * {{ error }} <br>
                {% endfor %}
            </p>
        {% endif %}

        <button class="btn btn-primary w-100">Registrarse</button>

        <div class="mt-4 text-center">
            ¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a>
        </div>
    </form>

    </div>
</div>

{% endblock content %}