<form action="/form/" method="post">
  {% csrf_token %} {% if form.errors %}
  <div class="alert alert-danger">{{ form.errors }}</div>
  {% endif %}

  <h3>1.- ¿Qué es lo que yo creo que puedo aportar a un equipo?</h3>

  <div class="fieldWrapper">a {{form.section_1_question_a}}</div>
  <div class="fieldWrapper">b {{form.section_1_question_b}}</div>
  <div class="fieldWrapper">c {{form.section_1_question_c}}</div>
  <div class="fieldWrapper">d {{form.section_1_question_d}}</div>
  <div class="fieldWrapper">e {{form.section_1_question_e}}</div>
  <div class="fieldWrapper">f {{form.section_1_question_f}}</div>
  <div class="fieldWrapper">g {{form.section_1_question_g}}</div>
  <div class="fieldWrapper">h {{form.section_1_question_h}}</div>
  <div class="fieldWrapper">i {{form.section_1_question_i}}</div>

  <br />

  <input type="submit" />
  <input type="reset" />
</form>
